<!DOCTYPE html>
<html>
<head>
    <title>Book Collection</title>
</head>
<body>
    <h1>My Books</h1>

    <fieldset>
        <legend>Filter Books</legend>
        <form action="/books" method="GET">
            <input type="text" name="author" placeholder="Filter by Author">
            <input type="number" name="year" placeholder="Filter by Year">
            <button type="submit">Apply Filter</button>
            <a href="/books">Clear</a>
        </form>
    </fieldset>

    <hr>

    <ul>
        <% books.forEach(book => { %>
            <li>
                <strong><%= book.title %></strong> by <%= book.author %> (<%= book.year %>)
            </li>
        <% }) %>
    </ul>

    <hr>

    <h3>Add a New Book</h3>
    <form action="/books" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="author" placeholder="Author" required>
        <input type="number" name="year" placeholder="Year" required>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>