<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student-records</title>
    <style>
        *{
            background-color: rgb(220, 233, 233);
        }
        h1{
           text-align:center;
           color:black;
           margin :0px;
           border-style: solid black;
           background:white;
           border-radius:15px;
        }
        table,
        tr,
        th{
            border: 0.5px solid black;
            width:50px;
            height:30px;
            border-collapse: collapse;
            

        }
        th,td{
            text-align:center;
            padding:0.5px;
            border-collapse: collapse;
        }

        
    </style>
</head>
<body>
    <h1>WELCOME TO STUDENTS RECORDS</h1>
    <table style="width:100%">
        <tr>
            <th>StudentNumber</th>
            <th>username</th>
            <th>email</th>
            <th>password</th>
        </tr>
        <tr>
            <td>1</td>
            <td>shivam</td>
            <td>shivam23@gmail.com</td>
            <td>@124532</td>
        </tr>
        <tr>
            <td>2</td>
            <td>shivansh</td>
            <td>shivansh342@gmail.com</td>
            <td>43245@ihr</td>
        </tr>
        <tr>
            <td>3</td>
            <td>shiven</td>
            <td>shiven244@gmail.com</td>
            <td>43255@9jdd</td>
        </tr>
        <tr>
            <td>4</td>
            <td>saumitra</td>
            <td>saumitra23@gmail.com</td>
            <td>12@yie6</td>
        </tr>
        <tr>
            <td>5</td>
            <td>manish</td>
            <td>manish56@gmail.com</td>
            <td>345@hir</td>
        </tr>
    </table>
</body>
</html>